@media screen and (max-width: 768px){
    #work{
        padding-top: 90px;
        padding-bottom: 120px;
        margin-bottom: 150px!important;
    }
    .work-text{
        text-align: center;
       /* margin: 0!important; */
       padding-bottom: 50px;
    }
    .MuiTypography-alignLeft{
        text-align: center!important; 
        margin: 0!important;
    }
    
    
}