.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3{
    width:100%
}
.MuiTimelineItem-missingOppositeContent:before {
    content: none!important;
}
@media screen and (max-width: 768px){
    .MuiPaper-root.makeStyles-paper-17.MuiPaper-elevation1.MuiPaper-rounded{
        box-shadow: none;
        padding: 0;
    }
    #experience{
        padding-top: 90px;
    }
    #experience-heading{
        padding-bottom: 50px;
    }
    .MuiGrid-spacing-xs-3 > .MuiGrid-item{
        padding: 0!important;
    }
    .MuiGrid-spacing-xs-3{
        margin: 0!important;
    }
    .MuiPaper-root.makeStyles-paper-18.MuiPaper-elevation3.MuiPaper-rounded{
        padding: 16px 0px;
    }
    /* ul#timeline-ul {
        width: 100%;
        padding-right:240px
    } */
    #experience{
        margin-bottom: 0px;
    }
}
